*{
    margin:0;
    padding:0;
    text-align:center;
    color:white
}

.header{
    display:flex;
    justify-content:space-around;
    align-items:center;    
}
.header #again{
    color:aqua;
    padding:3px;
    width:5rem;
    background-color: blueviolet;
    border-radius: 5px;
}
.which{
    margin-top:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
#h11{
    width:5rem;
    background-color: blanchedalmond;
    color:red;
    border-radius: 5px;
}
input{
    height:2rem;
    width:5rem;
    background-color: black;
    border:1px solid white;
    color:white;
    border-radius: 5px;
}
#check{
    background-color: green;
}
.inputs{
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.main{
  border:1px solid black;
  border-radius:2rem;
  padding:5rem;
  margin:5rem;
 
}